{% extends 'products/base.html' %}
{% load static %}
{% load my_tags %}

{% block content %}
{% if searched_category %}
<!-- Title Page -->
	{% if searched_category.image %}
	<section class="bg-title-page p-t-50 p-b-40 flex-col-c-m"
	style="background-image: url({{ searched_category.image_header.url }});">
	{% else %}
	<section class="bg-title-page p-t-50 p-b-40 flex-col-c-m"
	style="background-image: url({% static 'images/heading-pages-02.jpg' %});">
	{% endif %}
	<h2 class="l-text2 t-center">
		{{ searched_category.name }}
	</h2>
</section>
{% endif %}


<!-- Content page -->
<section class="bgwhite p-t-55 p-b-65">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
				<div class="leftbar p-r-20 p-r-0-sm">

					<!-- FILTER  -->
					<h4 class="m-text14 p-b-32">
						Filters
					</h4>

					<div class="w100pr">
						{% include 'products/filter.html' %}
					</div>
				</div>
			</div>

			<div class="col-sm-6 col-md-8 col-lg-9 p-b-50">

				<div class="flex-sb-m flex-w p-b-35">
					<span class="s-text8 p-t-5 p-b-5">
						Showing 1–12 of {{ quantity }} results
					</span>
				</div>

				<!-- Product -->
				<div class="row">
					{% for product in products %}
					<div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
						<!-- Block2 -->
						<div class="block2">
							{% if product.has_sale %}
								<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelsale">
							{% elif product.is_new %}
								<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
							{% else %}
								<div class="block2-img wrap-pic-w of-hidden pos-relative">
							{% endif %}
								
								
								{% if product.image %}
								<img src="{{ product.image_list.url }}" alt="IMG-PRODUCT">
								{% else %}
								<img src="{% static 'images/item-03.jpg' %}" alt="IMG-PRODUCT">
								{% endif %}

								<div class="block2-overlay trans-0-4">
									<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
										<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
										<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
									</a>

									<div class="block2-btn-addcart w-size1 trans-0-4">
										<!-- Button -->
										<a href="/add_to_cart/{{ product.slug }}" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
											Add to Cart
										</a>
									</div>
								</div>
							</div>

							<div class="block2-txt p-t-20">
								<a href="{{ product.get_absolute_url }}" class="block2-name dis-block s-text3 p-b-5">
									{{ product.name }}
								</a>

								{% if product.has_sale %}
									<span class="block2-oldprice m-text7 p-r-5">
										${{ product.price }}
									</span>
						
									<span class="block2-newprice m-text8 p-r-5">
										${{ product.calculate_price }}
									</span>
								{% else %}
									<span class="block2-price m-text6 p-r-5">
										${{ product.price }}
									</span>
								{% endif %}
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
						
				
				<div class="pagination">
					<span class="step-links">
						{% if page_obj.has_previous %}
							<a href="?{% param_replace page=1 %}">&laquo; first</a>
							<a href="?{% param_replace page=page_obj.previous_page_number %}">previous</a>
						{% endif %}
				  
						<span class="current">
							Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
						</span>
				  
						{% if page_obj.has_next %}
							<a href="?{% param_replace page=page_obj.next_page_number %}">next</a>
							<a href="?{% param_replace page=page_obj.paginator.num_pages %}">last &raquo;</a>
						{% endif %}
					</span>
				  </div>
			
			</div>
</section>
{% endblock %}